body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4c83c1;
}

.card {
    background: #b82121;
    backdrop-filter: blur(10px);
    color: #f4f4f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 4px 8px black;
    text-align: center;
    width: 300px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    width: 320px;
}

.profile-pic {
    object-fit: cover;
    width: 300px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    color: #555;
}
